.enemy{
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 30px;
  background: black;
  color: gray;
}

.enemy1 {
  background: green;
  color: white;
}

.enemy2 {
  background: red;
  color: white;
}

.enemy3 {
  background: blue;
  color: white;
}

.enemy4 {
  background: yellow;
  color: black;
}

.block{
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 0;
  margin-left: 300px;
  background: lightcyan;
}

.level {
  position: relative;
  height: 300px;
  background: gray;
}
