.enemy{
  position: absolute;
  width: 30px;
  height: 30px;
  background: black;
}

.enemy1 {
  background: green;
}

.enemy2 {
  background: red;
}
.enemy3 {
  background: blue;
}
.enemy4 {
  background: yellow;
}
.block{
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 0;
  margin-left: 300px;
  background: lightcyan;
}

.level {
      position: relative;
      height: 300px;
    background: gray;
}
